#games {
    margin-left: 10%;
    margin-right: 10%;
}
#game {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
/*не понимаю почему без этого не работало*/
#game .ant-image{
    display: block !important;
}
.minimal-quote {
    border-left: 2px solid #d9d9d9;
    padding-left: 12px;
    margin: 16px 0;
}
body *{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
}
